:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}
div.img-container {
  overflow: hidden;
}

div.img-container img[alt] {
  margin-left: -160px;
}
.gradient__btn {
  background: hsla(305, 65%, 85%, 1);
  color: var(--color-bg);
  background: linear-gradient(
    90deg,
    hsla(305, 65%, 85%, 1) 0%,
    hsla(293, 93%, 68%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(305, 65%, 85%, 1) 0%,
    hsla(293, 93%, 68%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(305, 65%, 85%, 1) 0%,
    hsla(293, 93%, 68%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2C2EE", endColorstr="#E763F9", GradientType=1 );
}
.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 35%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 35%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 35%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 35%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 35%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 35%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 35%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient__input_text {
  border: 2px solid #fff;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
